body{
    margin: 0;
    padding: 0;
}

/*sidebar-start*/

.nav-bar{
     height: 2000px;
     width: 300px;
     background-color: white;
     padding: 0;
}
.nav-bar{
        overflow: scroll;
}
body{
    background-color: skyblue;
}
.box-1{
    height: 1500px;
    width: 100%;
    /* position: absolute; */
    font-weight: 1000;
}
i{
    position: absolute;
    padding-top: 10px;
    padding-left: 200;
}
.box-menu{
      line-height: 30px;
}
.layouts{
    margin: 0.125rem;
    flex: 0 0 auto;
    padding: 0;
    display: flex;
}
.menu-icon{
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
    display: inline-block;
    position: absolute;
}
.h4{
       position: relative;
       padding-left: 200px;
       top: -10px;
       right: 10px;
}
.main{
    left: 16.25rem;
    z-index:1;
    /* max-width: 1000px; */
    height: 50px; 
    position: fixed;
    left: 310px;
    right: 30px;
    top: 0;
    margin: 1rem auto 0;
    border-radius: 10px;
    box-shadow: 10px;
    background-color: rgba(255,255,255);
    color: #6f6b7d;
}
.heading{
     flex-basis: 100%;
     align-items: center !important;
     display: flex !important;
     box-sizing: border-box;
}
.search{
    color:#6f6d7d;
    padding-right: 0 !important;
    padding-left: 0 !important;
    align-items: center !important;
    display: flex !important;
    text-decoration: none;
}
.search .i{
     margin-right: 0.5rem;
     bottom: 0;
     position: relative;
}
.ctrl search{
     display: inline-block;
     position: relative;
     top: -10px;
}
/* .container{
    height:1000px; 
    width:200px;
    background-color:whitesmoke;
    margin:auto;
    display:flex;
    padding: 1000px;
} */
.box-1{
    height: 250px;
    width: 450px;
    position: absolute;
    background-color: rgb(115, 103, 240);
    text-align: center;
    bottom: 200px;
    right: 500px;
    border-radius: 10px;
}
.box-1 h1{
    position: absolute;
    left: 10px;
    /* top: 00px; */
    color: white;
}
.box-1 h3{
    /* margin-right: 100px; */
    position: absolute;
    color: white;
    bottom: 150px;
    margin-left: 10px;
}
.box-1 h4{
    position: absolute;
    color: white;
    bottom: 110px;
    margin-left: 10px;
}
.box-1 img{
    height: 200px;
    position: absolute;
    right: 10px;
    bottom: 35px;
}
.demo h3{
    position: absolute;
    bottom: 60px;
    right: 350px;
}
.demo-1 h3{
    position: absolute;
    bottom: 60px;
    right: 230px;
}
.demo-2 h3{
    position: absolute;
    bottom: 20px;
    margin-left: 35px;
}
.demo-3 h3{
    position: absolute;
    bottom: 20px;
    right: 230px;
}
.box-2{
    height: 250px;
    width: 220px;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: 200px;
    right: 250px;
    border-radius: 10px;
} 
.box-2 h4{
     color: gray;
     position: absolute;
     left: 10px;
     bottom: 180px;
}
.box-2 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 150px;
    margin-left: 10px;
} 
.demo-4 h3{
     color: grey;
     position: absolute;
     bottom: 80px;
     margin-left: 45px;
} 
.demo-5 h3{
    color: grey;
    position: absolute;
    bottom: 79px;
    margin-left: 120px;
} 
.demo-6 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 40px;
}
.demo-7 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 40px;
    margin-left: 140px;
}
.demo-8 h4{
    color: grey;
    position: absolute;
    bottom: 20px;
}
.demo-9 h4{
    color: grey;
    position: absolute;
    bottom: 20px;
    margin-left: 130px;
}
.box-3{
    height: 250px;
    width: 220px;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: 200px;
    right: 5px;
    border-radius: 10px;
} 
.box-3 h2{
    color: rgb(81,80,80);
    position: absolute;
    bottom: 140px;
    margin-left: 30px;
}
.box-3 h4{
    color: rgb(134, 131, 131);
    position: absolute;
    bottom: 120px;
    margin-left: 30px;
}
.box-3 img{
    width: 220px;
    position: absolute;
    bottom: 20px;
    left: 0;
}
.box-4{
    height: 400px;
    width: 450px;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: -220px;
    right: 500px;
    border-radius: 10px;
}
.box-4 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 320px;
    margin-left: 20px;
}
.box-4 h4{
    color: grey;
    position: absolute;
    bottom: 290px;
    margin-left: 20px;
} 
.box-4 h1{
    color: rgb(81, 80, 80);
    font-weight: 500;
    position: absolute;
    bottom: 220px;
    margin-left: 20px;
}
.box-4 h5{
    color: green;
    position: absolute;
    bottom: 180px;
    margin-left: 30px;
}
.demo-10 h5{
     color: grey;
     position: absolute;
     bottom: 120px;
     margin-left: 20px;
}
.box-4 img{
    width: 250px;
    height: 200px;
    position: absolute;
    bottom: 130px;
    right: 20px;
}
.demo-11 h3{
    color: grey;
    position: absolute;
    bottom: 70px;
    margin-left: 70px;
}
.demo-12 h3{
    color: grey;
    position: absolute;
    bottom: 70px;
    margin-left: 220px;
}
.demo-13 h3{
    color: grey;
    position: absolute;
    bottom: 70px;
    margin-left: 350px;
}
.demo-14 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 30px;
    margin-left: 40px;
}
.demo-15 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 30px;
    margin-left: 190px;
}
.demo-16 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 30px;
    margin-left: 320px;
}
.box-5 {
    height: 400px;
    width: 470px;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: -220px;
    right: 5px;
    border-radius: 10px;
}
.box-5 h3{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 330px;
    margin-left: 20px;
}
.box-5 h4{
    color: grey;
    position: absolute;
    bottom: 300px;
    margin-left: 20px;
}
.box-5 h1{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom: 200px;
    margin-left: 20px;
    font-size: xxx-large;
}
.demo-17 h4{
    color:grey;
    position: absolute;
    bottom: 190px;
    margin-left: 20px;
} 
.demo-18 h4{
    color:rgb(81, 80, 80);
    position: absolute;
    bottom: 140px;
    margin-left: 60px;
} 
.demo-19 h4{
    color:rgb(81,80,80);
    position: absolute;
    bottom: 90px;
    margin-left: 60px;
} 
.demo-20 h4{
    color:rgb(81,80,80);
    position: absolute;
    bottom: 40px;
    margin-left: 60px;
} 
.demo-21 h4{
    color: grey;
    position: absolute;
    bottom: 120px;
    margin-left: 60px;
}
.demo-22 h4{
    color: grey;
    position: absolute;
    bottom: 68px;
    margin-left: 60px;
}
.demo-23 h4{
    color: grey;
    position: absolute;
    bottom: 18px;
    margin-left: 60px;
}
.box-5 img{
    position: absolute;
    right: -40px;
    bottom: 60px;
}
.box-6 {
    height: 480px;
    width: 310px;
    position: absolute;
    background-color: white;
    text-align: center;
    bottom: -720px;
    right:  640px;
    border-radius: 10px;
}
.box-6 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom:410px;
    margin: 15px;
}
.box-6 h5{
    color: grey;
    position: absolute;
    bottom:380px;
    margin: 15px;
}
.demo-24 img{
    position: absolute;
    bottom: 340px;
    margin-left: -140px;
}
.demo-25 img{
    position: absolute;
    bottom: 280px;
    margin-left: -140px;
}
.demo-26 img{
    position: absolute;
    bottom: 220px;
    margin-left: -140px;
}
.demo-27 img{
    position: absolute;
    bottom: 150px;
    margin-left: -140px;
}
.demo-28 img{
    position: absolute;
    bottom: 80px;
    margin-left: -140px;
}
.demo-29 img{
    position: absolute;
    bottom: 10px;
    margin-left: -140px;
}
.demo-24 h3{
    position: absolute;
    bottom: 340px;
    margin-left: 75px;
}
.demo-25 h3{
    position: absolute;
    bottom: 280px;
    margin-left: 75px;
}
.demo-26 h3{
    position: absolute;
    bottom: 220px;
    margin-left: 75px;
}
.demo-27 h3{
    position: absolute;
    bottom: 150px;
    margin-left: 75px;
}
.demo-28 h3{
    position: absolute;
    bottom: 80px;
    margin-left: 75px;
}
.demo-29 h3{
    position: absolute;
    bottom: 10px;
    margin-left: 75px;
}
.demo-24 h4{
    color: grey;
    position: absolute;
    bottom: 320px;
    margin-left: 75px;
}
.demo-25 h4{
    color:grey;
    position: absolute;
    bottom: 260px;
    margin-left: 75px;
}
.demo-26 h4{
    color:grey;
    position: absolute;
    bottom: 200px;
    margin-left: 75px;
}
.demo-27 h4{
    color:grey;
    position: absolute;
    bottom: 130px;
    margin-left: 75px;
}
.demo-28 h4{
    color:grey;
    position: absolute;
    bottom: 60px;
    margin-left: 75px;
}
.demo-29 h4{
    color:grey;
    position: absolute;
    bottom: -10px;
    margin-left: 75px;
}
.demo-24-1{
      color: green; 
      margin-left:160px;
}
.demo-25-1{
    color: red; 
    margin-left:160px;
}
.demo-26-1{
    color: green; 
    margin-left:160px;
}
.demo-27-1{
    color: red; 
    margin-left:160px;
}
.demo-28-1{
    color: green; 
    margin-left:160px
}
.demo-29-1{
    color: green; 
    margin-left:160px
}
.demo-24 i{
    position: absolute;
    top: 92px;
    margin-left: -20px;
}
.demo-25 i{
    position: absolute;
    top: 152px;
    margin-left: -20px;
}
.demo-26 i{
    position: absolute;
    top: 212px;
    margin-left: -20px;
}
.demo-27 i{
    position: absolute;
    top: 284px;
    margin-left: -20px;
}
.demo-28 i{
    position: absolute;
    top: 352px;
    margin-left: -20px;
}
.demo-29 i{
    position: absolute;
    top: 422px;
    margin-left: -20px;
}
.box-7 {
    height: 480px;
    width: 310px;
    position: absolute;
    background-color : white;
    text-align: center;
    bottom: -720px;
    right:  320px;
    border-radius: 10px;
}
.demo-30 h2{
    color: rgb(81, 80, 80);
    position: absolute;
    bottom:410px;
    margin: 15px;
}
.demo-31 h1{
    color: grey;
    position: absolute;
    bottom:350px;
    font-size: xxx-large;
    font-weight: 1000;
    margin: 15px;
}
.demo-31 h3{
    color: green;
    position: absolute;
    bottom:365px;
    margin-left: 160px;
}
 .demo-31 i{
    position: relative;
    bottom:-68px;
    margin-left: -10px; 
}
 .demo-31 img{
    position: absolute;
    width: 280px;
    bottom: 150px;
    margin-left: -140px;
}
.box-8{
    height: 480px;
    width: 305px;
    position: absolute;
    background-color : white;
    text-align: center;
    bottom: -720px;
    right:  5px;
    border-radius: 10px;
}
.demo-33 h3{
    color: rgb(81, 80, 80);
    margin-left: -55px;
}
.demo-33 h4{
    color: grey;
    margin-left: -120px;
    margin-top: -10px;
}
.demo-34 h3{
    color: rgb(81, 80, 80);
    margin-left: -90px;
    margin-top: 40px;
}
.demo-35 h3{
    color: rgb(81, 80, 80);
    margin-left: 100px;
    margin-top: -40px;
}
.demo-35 h4{
    color: green;
    margin-left: 220px;
    margin-top: -38px;
}
.demo-36 h3{
    color: rgb(81, 80, 80);
    margin-left: -90px;
    margin-top: 50px;
}
.demo-37 h3{
    color: rgb(81, 80, 80);
    margin-left: 100px;
    margin-top: -40px;
}
.demo-37 h4{
    color: green;
    margin-left: 220px;
    margin-top: -38px;
}
.demo-38 h3{
    color: rgb(81, 80, 80);
    margin-left: -90px;
    margin-top: 50px;
}
.demo-39 h3{
    color: rgb(81, 80, 80);
    margin-left: 100px;
    margin-top: -40px;
}
.demo-39 h4{
    color: green;
    margin-left: 220px;
    margin-top: -38px;
}
.demo-40 h3{
    color: rgb(81, 80, 80);
    margin-left: -70px;
    margin-top: 50px;
}
.demo-41 h3{
    color: rgb(81, 80, 80);
    margin-left: 110px;
    margin-top: -40px;
}
.demo-41 h4{
    color: green;
    margin-left: 220px;
    margin-top: -38px;
}
.demo-42 h3{
    color: rgb(81, 80, 80);
    margin-left: -50px;
    margin-top: 42px;
}
.demo-43 h3{
    color: rgb(81, 80, 80);
    margin-left: 110px;
    margin-top: -40px;
}
.demo-43 h4{
    color: green;
    margin-left: 222px;
    margin-top: -38px;
}
.box-9{
    height: 580px;
    width: 305px;
    position: absolute;
    background-color : white;
    text-align: center;
    bottom: -595px;
    right:  640px;
    border-radius: 10px;
}
.box-10{
    height: 450px;
    width: 600px;
    position: absolute;
    background-color : white;
    text-align: center;
    bottom: -468px;
    right:  10px;
    border-radius: 10px;
}

 







   






