/* @import rule */
@import'style.css';

body{
    background-color: yellow;
}

/* css resetting all properties value */
p{
    color: brown;
}
.para-11 p{
    columns:red ;
}
.para-22 p{
    color: green;
}
.para-33{
    color: orange;
}

/* css simple tag selecter */
p{
    color: purple;
}

/* css class selector */
.div-3{
    color: red;
}
.div-1{
    color: green;
    background-color: yellow;
}

/* css id selector */
#box-1{
    background-color: purple;
}
#box-1{
    background-color: brown;
}
#box-2{
    background-color: red;
}
#box-3{
    background-color:skyblue;
}

/* descendent selector */
.demo-1 .back-1{
    color: blue;
    font-size: 20px;
    background-color: red;
}
/* child selector */
.demo-2>p{
    color: brown;
    text-decoration: line-through;
}
 /* adjuacent sibling selector */
 p+h1{
    color: blueviolet;
    text-transform:capitalize;
    background-color: aliceblue;
 }
 /* general sibling selector  */
 .demo-4~p{
    color: rgb(138,8,8);
    text-transform: capitalize;
    text-decoration: underline;
}

/* link selector */
.option-1:link{
    color: red;
}
a:active{
    color: green;
    text-decoration: none;
}
a:hover{
    background-color: red;
    text-decoration: none;
    text-transform: uppercase;
}
.option-1:visited{
    color: pink;
    background-color: blue;
}